{{template "top" .}}
<h1>Change Password</h1>
<form action="/change_password" method="post">
    <label for="username">Username: </label>
    <input type="text" name="username" id="username"><br><br>
    <label for="oldPassword">Old Password: </label>
    <input type="password" name="oldPassword" id="oldPassword"><br><br>
    <label for="newPassword">New Password: </label>
    <input type="password" name="newPassword" id="newPassword"><br><br>
    <input type="submit" name="action" value="vuln">
    <input type="submit" name="action" value="secure">

</form>
{{template "bottom" .}}