{{template "top" .}}
<h1>Reset Password</h1>
{{if .IsSuccess}}
<p>We have sent a reset link to the email associated with this account</p>
{{else if .IsFail}}
<p>An error occured.</p>
{{else}}
{{end}}
<form action="/forgot_password" method="post">
    <label for="username">Enter your username: </label>
    <input type="text" name="username" id="username"><br><br>
    <input type="submit" name="action" value="vuln">
    <input type="submit" name="action" value="secure">

</form>
{{template "bottom" .}}