{{template "top" .}}
<nav role="navigation">
    <div>
        <ul>
            <li><a href="/change_password">Change Password</a></li>
        </ul>
    </div>
</nav>
<form action="/products" method="get">
    <label for="category">Select a Product Category:</label>
    <select name="category" id="category">
      <option value="">Select a Category</option>
      <option value="Electronics">Electronics</option>
      <option value="Footwear">Footwear</option>
      <option value="Accessories">Accessories</option>
      <option value="Home Appliances">Home Appliances</option>
    </select>
    <button name="action" value="vuln" type="submit">vuln</button>
    <button name="action" value="secure" type="submit">Secure</button>
  </form>
<table>
    {{if .}}
    <thead>
        <th>
            <td>Name</td>
            <td>Price</td>
            <td>Description</td>
        </th>
    </thead>
    {{end}}
    <tbody>
        {{range .}}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.Price}}</td>
            <td>{{.Description}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{template "bottom" .}}