{{template "top" .}}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Change Password</h1>
        {{if .}}
        <p>Error! password was not changed</p>
        {{end}}
        <div class="w-50 mx-auto">
            <form action="/change_password" method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" class="form-control">
                </div>
                <div class="form-group">
                    <label for="oldPassword">Old Password:</label>
                    <input type="text" name="oldPassword" id="oldPassword" class="form-control">
                </div>
                <div class="form-group">
                    <label for="newPassword">New Password:</label>
                    <input type="text" name="newPassword" id="newPassword" class="form-control">
                </div>
                <div></div>
                <div class="d-flex justify-content-center">
                    <button type="submit" name="action" value="secure" class="btn btn-success px-5">Submit</button>
                </div>
            </form>
        </div>
    </div>
{{template "bottom" .}}