{{template "top" .}}
<div class="container mt-5">
  <h1 class="text-center mb-4">Login</h1>
  <div class="w-50 mx-auto">
    {{if .}}
    <div class="alert alert-danger"><strong>Error: </strong>{{.}}</div>
    {{end}}
    <form action="/login" method="post">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" class="form-control" />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
        />
      </div>
      <div class="d-flex justify-content-between">
        <button
          type="submit"
          name="action"
          value="vuln"
          class="btn btn-danger flex-fill"
        >
          Vulnerable
        </button>
        <div class="btn"></div>
        <button
          type="submit"
          name="action"
          value="secure"
          class="btn btn-success flex-fill"
        >
          Secure
        </button>
      </div>
    </form>
    <div class="text-center mt-3">
      <a href="/forgot_password" class="btn btn-link">Forgot Password?</a>
    </div>
  </div>
</div>
{{template "bottom" .}}
